Modscan
[
    {
        "id": "e87fe26.7d6fd2",
        "type": "tab",
        "label": "Cenk Iskender MODSCAN ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6b8473c.ffb378",
        "type": "ui_group",
        "z": "",
        "name": "Read (0 Based)",
        "tab": "fbfd78be.89d968",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "355f1b4c.11fa44",
        "type": "modbus-client",
        "z": "",
        "name": "MODSCAN",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "3661e5eb.d74eda",
        "type": "ui_group",
        "z": "",
        "name": "Output",
        "tab": "fbfd78be.89d968",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fb583bf0.d23148",
        "type": "ui_group",
        "z": "",
        "name": "Write (0 Based)",
        "tab": "fbfd78be.89d968",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "47978d16.14d3c4",
        "type": "ui_group",
        "z": "",
        "name": "TCP",
        "tab": "fbfd78be.89d968",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e3284cbf.ec2",
        "type": "ui_group",
        "z": "",
        "name": "Serial",
        "tab": "fbfd78be.89d968",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "fbfd78be.89d968",
        "type": "ui_tab",
        "z": "",
        "name": "Modscan (C.Iskender 26.12.2018)",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "5b66d47c.f0fa1c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b339cd58.26b03",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 127.1429443359375,
        "y": 683.8571310043335,
        "wires": [
            [
                "8df55f8a.d5a6f"
            ]
        ]
    },
    {
        "id": "8df55f8a.d5a6f",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "enable",
        "func": "if(flow.get(\"enabled\")){\n   flow.set(\"count\", flow.get(\"count\") + 1);\n   msg.payload = {'fc': flow.get(\"FC\"), 'unitid': flow.get(\"unitid\"), 'address': flow.get(\"address\") , 'quantity': flow.get(\"length\"), 'conversion': flow.get(\"conversion\") };\n}else\n    msg = null;\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 309.1429443359375,
        "y": 683.8571310043335,
        "wires": [
            [
                "1eac4a71.aedc06"
            ]
        ]
    },
    {
        "id": "8db37b67.723a78",
        "type": "ui_button",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "group": "f6b8473c.ffb378",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 429.6429443359375,
        "y": 861.8571310043335,
        "wires": [
            [
                "4f050f8c.b30ab"
            ]
        ]
    },
    {
        "id": "4f050f8c.b30ab",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "enable",
        "func": "flow.set(\"enabled\", true);\nflow.set(\"count\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 598.1429443359375,
        "y": 861.8571310043335,
        "wires": []
    },
    {
        "id": "eda12989.988388",
        "type": "ui_button",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "group": "f6b8473c.ffb378",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 429.1429443359375,
        "y": 912.8571310043335,
        "wires": [
            [
                "cad71cd1.1c005"
            ]
        ]
    },
    {
        "id": "cad71cd1.1c005",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "disable",
        "func": "flow.set(\"enabled\", false);",
        "outputs": "0",
        "noerr": 0,
        "x": 605.6429443359375,
        "y": 912.8571310043335,
        "wires": []
    },
    {
        "id": "6bbdc89a.2c1ec8",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"address\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 595.1429443359375,
        "y": 955.8571310043335,
        "wires": []
    },
    {
        "id": "7aacc1b8.11dde",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"length\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 596.1429443359375,
        "y": 1000.8571310043335,
        "wires": []
    },
    {
        "id": "5c665c9b.9253e4",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"FC\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 593.1429443359375,
        "y": 1043.8571310043335,
        "wires": []
    },
    {
        "id": "1eac4a71.aedc06",
        "type": "modbus-flex-getter",
        "z": "e87fe26.7d6fd2",
        "name": "read",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "355f1b4c.11fa44",
        "x": 460.1429443359375,
        "y": 682.8571310043335,
        "wires": [
            [
                "666720fa.4d1c",
                "327e7815.ec5038"
            ],
            []
        ]
    },
    {
        "id": "b56405ef.a700b8",
        "type": "ui_template",
        "z": "e87fe26.7d6fd2",
        "group": "3661e5eb.d74eda",
        "name": "",
        "order": 5,
        "width": "6",
        "height": "10",
        "format": "<div style=\"width:100%;\">\n    <div style=\"display:inline-block; width:25%;\" ng-repeat=\"x in msg.payload track by $index\">\n        {{!msg.input.payload.conversion ? \n        ($index + msg.input.payload.address) : \n        (($index*2 + msg.input.payload.address)+'-'+($index*2 + msg.input.payload.address+1))}} : {{ x }}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1485.14306640625,
        "y": 692.8571166992188,
        "wires": [
            []
        ]
    },
    {
        "id": "22f8b913.3e4dc6",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 160.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "75e13fc5.85b0b"
            ]
        ]
    },
    {
        "id": "75e13fc5.85b0b",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "func": "flow.set(\"FC\", 3);\nflow.set(\"address\", 1);\nflow.set(\"length\", 1);\nflow.set(\"enabled\", false);\nflow.set(\"count\", 0);\nflow.set(\"conversion\", 0);\nflow.set(\"hex\", 0);\nflow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 289.1429443359375,
        "y": 862.8571310043335,
        "wires": []
    },
    {
        "id": "3398b0c9.cea26",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "topic": "",
        "payload": "count",
        "payloadType": "flow",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 482.1429443359375,
        "y": 623.8571310043335,
        "wires": [
            [
                "55a4e028.64f35"
            ]
        ]
    },
    {
        "id": "55a4e028.64f35",
        "type": "ui_text",
        "z": "e87fe26.7d6fd2",
        "group": "3661e5eb.d74eda",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "read count",
        "label": "Total reads: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 637.6429748535156,
        "y": 623.8571329116821,
        "wires": []
    },
    {
        "id": "e098570d.67d178",
        "type": "status",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "scope": [
            "1eac4a71.aedc06"
        ],
        "x": 113.6429443359375,
        "y": 623.8571310043335,
        "wires": [
            [
                "ee90bcb7.6a11b"
            ]
        ]
    },
    {
        "id": "ee90bcb7.6a11b",
        "type": "ui_text",
        "z": "e87fe26.7d6fd2",
        "group": "3661e5eb.d74eda",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "Modbus status",
        "label": "Status:",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "x": 294.1429443359375,
        "y": 623.8571310043335,
        "wires": []
    },
    {
        "id": "d661bfb0.fc44a",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "16To32Bit",
        "func": "var values32bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(2);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(2) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    var value = parseInt(tmp1+tmp,2);\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values32bit.push(value);\n}\n\nmsg.payload = values32bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 885.1429977416992,
        "y": 707.8571300506592,
        "wires": [
            [
                "40f56e7b.8e1a7"
            ]
        ]
    },
    {
        "id": "327e7815.ec5038",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "property": "conversion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670.6429443359375,
        "y": 675.8571166992188,
        "wires": [
            [
                "1928f0ac.bde11f"
            ],
            [
                "1d8a6f18.09cbe1",
                "cff2318d.4c3d7"
            ]
        ]
    },
    {
        "id": "5267e76d.9e3da8",
        "type": "ui_switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "32 bit",
        "group": "f6b8473c.ffb378",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 429.6429443359375,
        "y": 1083.8571310043335,
        "wires": [
            [
                "58ffbe72.73226"
            ]
        ]
    },
    {
        "id": "58ffbe72.73226",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"conversion\", msg.payload);\nif(!flow.get(\"conversion\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 592.1429443359375,
        "y": 1083.8571310043335,
        "wires": []
    },
    {
        "id": "c6b1b998.8d19f8",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "FC",
        "place": "FC",
        "group": "f6b8473c.ffb378",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Read Coil Status FC 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Read Holding Register FC 3",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Read Status Register FC 4",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 429.1429443359375,
        "y": 1043.8571310043335,
        "wires": [
            [
                "5c665c9b.9253e4"
            ]
        ]
    },
    {
        "id": "fd36f4c6.f44178",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "address",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 214.1429443359375,
        "y": 955.8571310043335,
        "wires": [
            [
                "e22e4e04.f376d"
            ]
        ]
    },
    {
        "id": "9d6c3f4e.39739",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "length",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 213.1429443359375,
        "y": 1000.8571310043335,
        "wires": [
            [
                "1e5ed83c.7268a8"
            ]
        ]
    },
    {
        "id": "9f118ffe.f7d76",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "FC",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 202.1429443359375,
        "y": 1043.8571310043335,
        "wires": [
            [
                "c6b1b998.8d19f8"
            ]
        ]
    },
    {
        "id": "ab29b152.fcd84",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "conversion",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "x": 230.1429443359375,
        "y": 1083.8571310043335,
        "wires": [
            [
                "5267e76d.9e3da8"
            ]
        ]
    },
    {
        "id": "7309408e.efbee",
        "type": "modbus-flex-write",
        "z": "e87fe26.7d6fd2",
        "name": "write",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "355f1b4c.11fa44",
        "x": 1173.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4613e53d.20ddec",
        "type": "ui_button",
        "z": "e87fe26.7d6fd2",
        "name": "write",
        "group": "fb583bf0.d23148",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "WRITE",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 868.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "560bd4c6.cccbfc"
            ]
        ]
    },
    {
        "id": "560bd4c6.cccbfc",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "enable",
        "func": "var value = flow.get(\"value\");\n\nif(flow.get(\"conversion_write\"))\n    value = parseInt(value, 16);\nelse value = parseInt(value);\n\nmsg.payload = {'value': value, 'fc': flow.get(\"FC_WRITE\"), 'unitid': flow.get(\"unitid\"), 'address': flow.get(\"address_write\") , 'quantity': 1 };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1018.1429443359375,
        "y": 862.8571310043335,
        "wires": [
            [
                "7309408e.efbee"
            ]
        ]
    },
    {
        "id": "54bde889.f6e4e8",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"address_write\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1287.6429443359375,
        "y": 977.8571310043335,
        "wires": []
    },
    {
        "id": "60a93ac4.dd6644",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"FC_WRITE\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1288.6429443359375,
        "y": 1018.8571310043335,
        "wires": []
    },
    {
        "id": "748ee67.b103818",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 883.6429443359375,
        "y": 923.8571310043335,
        "wires": [
            [
                "a2d10f8a.bf00a"
            ]
        ]
    },
    {
        "id": "a2d10f8a.bf00a",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "func": "flow.set(\"FC_WRITE\", 6);\nflow.set(\"address_write\", 1);\nflow.set(\"conversion_write\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 1012.6429443359375,
        "y": 923.8571310043335,
        "wires": []
    },
    {
        "id": "bfcc1e34.eb8e5",
        "type": "ui_switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Hex to Int",
        "group": "fb583bf0.d23148",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1133.1429443359375,
        "y": 1058.8571310043335,
        "wires": [
            [
                "75a05ed2.04e33"
            ]
        ]
    },
    {
        "id": "75a05ed2.04e33",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"conversion_write\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1289.6429443359375,
        "y": 1058.8571310043335,
        "wires": []
    },
    {
        "id": "6c22f14d.31861",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "FC",
        "place": "FC",
        "group": "fb583bf0.d23148",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "options": [
            {
                "label": "Force Single Coil FC 5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Force Single Register FC 6",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1124.6429443359375,
        "y": 1018.8571310043335,
        "wires": [
            [
                "60a93ac4.dd6644"
            ]
        ]
    },
    {
        "id": "ff2ff9cd.5b8518",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "address_write",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 924.6429443359375,
        "y": 977.8571310043335,
        "wires": [
            [
                "e1b8f40b.fbe8b8"
            ]
        ]
    },
    {
        "id": "82683e23.4895f",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "FC_WRITE",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 915.6429443359375,
        "y": 1018.8571310043335,
        "wires": [
            [
                "6c22f14d.31861"
            ]
        ]
    },
    {
        "id": "7f8f4006.11e39",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "conversion_write",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 933.6429443359375,
        "y": 1058.8571310043335,
        "wires": [
            [
                "bfcc1e34.eb8e5"
            ]
        ]
    },
    {
        "id": "c6a59c76.be93d",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Value",
        "group": "fb583bf0.d23148",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 1122.1429443359375,
        "y": 1098.8571310043335,
        "wires": [
            [
                "79e373.a64d5c8c"
            ]
        ]
    },
    {
        "id": "79e373.a64d5c8c",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"value\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 1288.6429443359375,
        "y": 1098.8571310043335,
        "wires": []
    },
    {
        "id": "eea8591.5e496a8",
        "type": "comment",
        "z": "e87fe26.7d6fd2",
        "name": "READ",
        "info": "",
        "x": 74.6429443359375,
        "y": 809.8571310043335,
        "wires": []
    },
    {
        "id": "b447e175.f4b9d",
        "type": "comment",
        "z": "e87fe26.7d6fd2",
        "name": "WRITE",
        "info": "",
        "x": 804.1429443359375,
        "y": 810.8571310043335,
        "wires": []
    },
    {
        "id": "3868bb06.529c74",
        "type": "comment",
        "z": "e87fe26.7d6fd2",
        "name": "OUTPUT",
        "info": "",
        "x": 86.1429443359375,
        "y": 570.8571310043335,
        "wires": []
    },
    {
        "id": "1d3a1323.0ce47d",
        "type": "ui_switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Hex Values",
        "group": "f6b8473c.ffb378",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 435.9085693359375,
        "y": 1130.6071310043335,
        "wires": [
            [
                "8ddd1751.917e98"
            ]
        ]
    },
    {
        "id": "8ddd1751.917e98",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"hex\", msg.payload);\n\nif(flow.get(\"hex\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion_float\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 589.4085693359375,
        "y": 1130.6071310043335,
        "wires": []
    },
    {
        "id": "c11e44a4.30f2b8",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "hex",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 200.4085693359375,
        "y": 1130.6071310043335,
        "wires": [
            [
                "1d3a1323.0ce47d"
            ]
        ]
    },
    {
        "id": "1928f0ac.bde11f",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "property": "hex",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 878.9086074829102,
        "y": 669.6071166992188,
        "wires": [
            [
                "bc070ec8.a7a6a"
            ],
            [
                "b56405ef.a700b8",
                "3c577e96.31f6b2"
            ]
        ]
    },
    {
        "id": "bc070ec8.a7a6a",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "toHex",
        "func": "for(var i=0;i<msg.payload.length;i++)\n   msg.payload[i] = '0x'+msg.payload[i].toString(16).toUpperCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1032.9085693359375,
        "y": 615.6071166992188,
        "wires": [
            [
                "b56405ef.a700b8",
                "3c577e96.31f6b2"
            ]
        ]
    },
    {
        "id": "a2aae80f.67deb8",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "conversion_float",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 221.1429443359375,
        "y": 1176.8571310043335,
        "wires": [
            [
                "60aa08fc.af1878"
            ]
        ]
    },
    {
        "id": "60aa08fc.af1878",
        "type": "ui_switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Float",
        "group": "f6b8473c.ffb378",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 410.6429443359375,
        "y": 1176.8571310043335,
        "wires": [
            [
                "1d38dfbf.5383c"
            ]
        ]
    },
    {
        "id": "1d38dfbf.5383c",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"conversion_float\", msg.payload);\nif(!flow.get(\"conversion\") && flow.get(\"conversion_float\"))\n flow.set(\"conversion\", 1);\n\nif(flow.get(\"conversion_float\"))\n    flow.set(\"hex\", 0);",
        "outputs": "0",
        "noerr": 0,
        "x": 587.1429443359375,
        "y": 1176.8571310043335,
        "wires": []
    },
    {
        "id": "40f56e7b.8e1a7",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "property": "conversion_float",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1031.1429443359375,
        "y": 737.8571166992188,
        "wires": [
            [
                "b56405ef.a700b8",
                "3c577e96.31f6b2"
            ],
            [
                "da48a297.66289",
                "5f93b439.18191c"
            ]
        ]
    },
    {
        "id": "bb2367ce.22ce88",
        "type": "comment",
        "z": "e87fe26.7d6fd2",
        "name": "CONNECTION",
        "info": "",
        "x": 118.46179962158203,
        "y": 41.56597328186035,
        "wires": []
    },
    {
        "id": "66f57b3a.df2914",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Address",
        "group": "47978d16.14d3c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 546.4617919921875,
        "y": 131.01041412353516,
        "wires": [
            [
                "80b5e830.a85e68"
            ]
        ]
    },
    {
        "id": "1490eb93.78a234",
        "type": "modbus-flex-connector",
        "z": "e87fe26.7d6fd2",
        "name": "connection",
        "maxReconnectsPerMinute": 4,
        "emptyQueue": false,
        "showStatusActivities": false,
        "showErrors": false,
        "server": "355f1b4c.11fa44",
        "x": 450.46185302734375,
        "y": 385.01045298576355,
        "wires": []
    },
    {
        "id": "8c31c5fd.1ca6f8",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Port",
        "group": "47978d16.14d3c4",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 536.4791259765625,
        "y": 175.01040649414062,
        "wires": [
            [
                "a8e75b49.1dfa68"
            ]
        ]
    },
    {
        "id": "80b5e830.a85e68",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpHost = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 700.017333984375,
        "y": 131.23263549804688,
        "wires": []
    },
    {
        "id": "a8e75b49.1dfa68",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.tcpPort = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 698.017333984375,
        "y": 175.23263549804688,
        "wires": []
    },
    {
        "id": "3448e839.005598",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Unit ID",
        "group": "47978d16.14d3c4",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 535.4791412353516,
        "y": 225.23263549804688,
        "wires": [
            [
                "1b1e9510.47b1ab"
            ]
        ]
    },
    {
        "id": "1b1e9510.47b1ab",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 697.0173492431641,
        "y": 225.45486450195312,
        "wires": []
    },
    {
        "id": "d50079f4.d72658",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "TCP_Connection",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 136,
        "y": 147.23263549804688,
        "wires": [
            [
                "2d6a8fc7.ba9d7",
                "3dcd4f8c.11bdb",
                "68be42d.51cc8bc",
                "a4af0312.4f317"
            ]
        ]
    },
    {
        "id": "2d6a8fc7.ba9d7",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tcpHost",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 385.0173645019531,
        "y": 131.23263549804688,
        "wires": [
            [
                "66f57b3a.df2914"
            ]
        ]
    },
    {
        "id": "3dcd4f8c.11bdb",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tcpPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383.0173645019531,
        "y": 175.23263549804688,
        "wires": [
            [
                "8c31c5fd.1ca6f8"
            ]
        ]
    },
    {
        "id": "68be42d.51cc8bc",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.unitId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380.0173645019531,
        "y": 225.23263549804688,
        "wires": [
            [
                "3448e839.005598"
            ]
        ]
    },
    {
        "id": "1b8f6242.78191e",
        "type": "ui_button",
        "z": "e87fe26.7d6fd2",
        "name": "connectTCP",
        "group": "47978d16.14d3c4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "compare_arrows",
        "payload": "TCP_Connection",
        "payloadType": "flow",
        "topic": "",
        "x": 109.01741790771484,
        "y": 357.2326593399048,
        "wires": [
            [
                "5caaa683.ffb228"
            ]
        ]
    },
    {
        "id": "5caaa683.ffb228",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "connect",
        "func": "var options = msg.payload;\nvar error = {topic: \"TCP Connect\"};\nvar configs = flow.get('configs_TCP') || [];\n\noptions.connectorType = \"TCP\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.tcpPort)\n    options.tcpPort = 502;\n\nif(!options.tcpHost){\n    error.payload = \"TCP Host address not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_TCP', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);",
        "outputs": "2",
        "noerr": 0,
        "x": 288.0174217224121,
        "y": 357.23265838623047,
        "wires": [
            [
                "1490eb93.78a234",
                "e63cf473.ceda98"
            ],
            [
                "7e9996a3.c01dc8"
            ]
        ]
    },
    {
        "id": "713a7d99.793414",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "custom port",
        "label": "or choose a custom Port",
        "group": "e3284cbf.ec2",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1330.03466796875,
        "y": 157.23262786865234,
        "wires": [
            [
                "196fcbe0.925cb4"
            ]
        ]
    },
    {
        "id": "1d2b4f0d.d3e7c1",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Unit ID",
        "group": "e3284cbf.ec2",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1308.034683227539,
        "y": 200.4548568725586,
        "wires": [
            [
                "f347001f.0670c"
            ]
        ]
    },
    {
        "id": "c8703548.f9f368",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "SERIAL_Connection",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 926.5555419921875,
        "y": 152.4548568725586,
        "wires": [
            [
                "b6cb98c7.6a4498",
                "99d367cf.3816f8",
                "13ee38c2.9f0007",
                "74efd93e.19dfc8",
                "5ab87637.10ce88"
            ]
        ]
    },
    {
        "id": "b6cb98c7.6a4498",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1162.5729064941406,
        "y": 157.4548568725586,
        "wires": [
            [
                "713a7d99.793414"
            ]
        ]
    },
    {
        "id": "99d367cf.3816f8",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.unitId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160.5729064941406,
        "y": 200.4548568725586,
        "wires": [
            [
                "1d2b4f0d.d3e7c1"
            ]
        ]
    },
    {
        "id": "eae4118c.0f0e4",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\nif(msg.payload)\n    options.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1479.5728759765625,
        "y": 111.4548568725586,
        "wires": []
    },
    {
        "id": "13ee38c2.9f0007",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialPort",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1164.5729064941406,
        "y": 111.4548568725586,
        "wires": [
            [
                "e5546e38.d7237"
            ]
        ]
    },
    {
        "id": "e5546e38.d7237",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "port",
        "label": "Port",
        "place": "Choose a serial port",
        "group": "e3284cbf.ec2",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "/dev/ttyUSB0",
                "value": "/dev/ttyUSB0",
                "type": "str"
            },
            {
                "label": "/dev/ttyUSB1",
                "value": "/dev/ttyUSB1",
                "type": "str"
            },
            {
                "label": "/dev/ttyAMA0",
                "value": "/dev/ttyAMA0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1311.5729064941406,
        "y": 111.78819942474365,
        "wires": [
            [
                "eae4118c.0f0e4"
            ]
        ]
    },
    {
        "id": "196fcbe0.925cb4",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialPort = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1480.5728759765625,
        "y": 156.78819274902344,
        "wires": []
    },
    {
        "id": "f347001f.0670c",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.unitId = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1480.5728759765625,
        "y": 199.78819274902344,
        "wires": []
    },
    {
        "id": "74efd93e.19dfc8",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.serialBaudrate",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1161.111099243164,
        "y": 245.78817749023438,
        "wires": [
            [
                "13a1f7ec.13d338"
            ]
        ]
    },
    {
        "id": "3a4ae77c.8ab038",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.serialBaudrate = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1481.111068725586,
        "y": 246.12151336669922,
        "wires": []
    },
    {
        "id": "dc78d925.df0798",
        "type": "ui_button",
        "z": "e87fe26.7d6fd2",
        "name": "connectSERIAL",
        "group": "e3284cbf.ec2",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Connect",
        "color": "",
        "bgcolor": "",
        "icon": "compare_arrows",
        "payload": "SERIAL_Connection",
        "payloadType": "flow",
        "topic": "",
        "x": 120.0173568725586,
        "y": 409.7881774902344,
        "wires": [
            [
                "9b7e0489.8a7038"
            ]
        ]
    },
    {
        "id": "13a1f7ec.13d338",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "BaudRate",
        "label": "Baud Rate",
        "place": "Select a Boud Rate",
        "group": "e3284cbf.ec2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 115200,
                "type": "num"
            },
            {
                "label": "",
                "value": 57600,
                "type": "num"
            },
            {
                "label": "",
                "value": 38400,
                "type": "num"
            },
            {
                "label": "",
                "value": 19200,
                "type": "num"
            },
            {
                "label": "",
                "value": 9600,
                "type": "num"
            },
            {
                "label": "",
                "value": 4800,
                "type": "num"
            },
            {
                "label": "",
                "value": 2400,
                "type": "num"
            },
            {
                "label": "",
                "value": 1200,
                "type": "num"
            },
            {
                "label": "",
                "value": 300,
                "type": "num"
            },
            {
                "label": "",
                "value": 110,
                "type": "num"
            },
            {
                "label": "",
                "value": 75,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1315.239501953125,
        "y": 245.78817749023438,
        "wires": [
            [
                "3a4ae77c.8ab038"
            ]
        ]
    },
    {
        "id": "aa47c4cb.92d408",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "configurations",
        "label": "Configurations",
        "place": "Choose a conf...",
        "group": "47978d16.14d3c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1119.731704711914,
        "y": 334.5819034576416,
        "wires": [
            [
                "b72c551e.14e2e8"
            ]
        ]
    },
    {
        "id": "85411e79.c9a1e",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "init",
        "payload": "configs_TCP",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 749.0174331665039,
        "y": 385.01042461395264,
        "wires": [
            [
                "7e9996a3.c01dc8"
            ]
        ]
    },
    {
        "id": "7e9996a3.c01dc8",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "options",
        "func": "var options = [];\n\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 935.0173721313477,
        "y": 364.01040267944336,
        "wires": [
            [
                "aa47c4cb.92d408"
            ]
        ]
    },
    {
        "id": "296d67a6.41b7a8",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Name",
        "group": "47978d16.14d3c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 536.017333984375,
        "y": 84.01041412353516,
        "wires": [
            [
                "53b82a6.99751d4"
            ]
        ]
    },
    {
        "id": "53b82a6.99751d4",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"TCP_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"TCP_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 699.5728759765625,
        "y": 84.23263549804688,
        "wires": []
    },
    {
        "id": "a4af0312.4f317",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 384.5729064941406,
        "y": 84.23263549804688,
        "wires": [
            [
                "296d67a6.41b7a8"
            ]
        ]
    },
    {
        "id": "eabd8c96.67fdf",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Name",
        "group": "e3284cbf.ec2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1313.4617919921875,
        "y": 67.01041412353516,
        "wires": [
            [
                "ab3019ca.9a32d8"
            ]
        ]
    },
    {
        "id": "ab3019ca.9a32d8",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "var options = flow.get(\"SERIAL_Connection\") || {};\n\noptions.name = msg.payload;\n\nflow.set(\"SERIAL_Connection\", options);",
        "outputs": "0",
        "noerr": 0,
        "x": 1481.017333984375,
        "y": 67.23263549804688,
        "wires": []
    },
    {
        "id": "5ab87637.10ce88",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1166.0173645019531,
        "y": 67.23263549804688,
        "wires": [
            [
                "eabd8c96.67fdf"
            ]
        ]
    },
    {
        "id": "a8fc20b3.3f731",
        "type": "ui_dropdown",
        "z": "e87fe26.7d6fd2",
        "name": "configurations",
        "label": "Configurations",
        "place": "Choose a conf...",
        "group": "e3284cbf.ec2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 1117.4460067749023,
        "y": 464.5977191925049,
        "wires": [
            [
                "2b40ebb3.8e3d74"
            ]
        ]
    },
    {
        "id": "a75f3caa.8ec7",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "init",
        "payload": "configs_SERIAL",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 744.017391204834,
        "y": 437.4548463821411,
        "wires": [
            [
                "78b3a0ee.a8c27"
            ]
        ]
    },
    {
        "id": "78b3a0ee.a8c27",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "options",
        "func": "var options = [];\n\n(msg.payload || []).forEach(function(opt) {\n    var tmp = {};\n    tmp[opt.name] = opt;\n    options.push(tmp);\n});\n\nmsg.options = options;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 933.0174179077148,
        "y": 416.4548511505127,
        "wires": [
            [
                "a8fc20b3.3f731"
            ]
        ]
    },
    {
        "id": "9b7e0489.8a7038",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "connect",
        "func": "var options = msg.payload;\nvar error = {topic: \"SERIAL Connect\"};\nvar configs = flow.get('configs_SERIAL') || [];\n\noptions.connectorType = \"SERIAL\";\n\nif(!options.name || options.name === \"\"){\n    options.name = \"No name\";\n}\n\nif(!options.serialPort){\n    error.payload = \"Serial port not valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.serialBaudrate){\n    error.payload = \"Select a Baud Rate\";\n    node.error(\"Error\",error);\n    return;\n}\n\nif(!options.unitId){\n    error.payload = \"Unit ID not Valid\";\n    node.error(\"Error\",error);\n    return;\n}\n\nvar index = configs.findIndex(function(conf) {\n    return conf.name == options.name;\n});\n\nif(index < 0)\n    configs.push(options);\nelse\n    configs[index] = options;\n    \nflow.set('configs_SERIAL', configs);\n\nnode.send([msg, {payload:configs, topic:\"init\"}]);",
        "outputs": "2",
        "noerr": 0,
        "x": 290.0173645019531,
        "y": 409.8992919921875,
        "wires": [
            [
                "1490eb93.78a234",
                "67818c5.d186b74"
            ],
            [
                "78b3a0ee.a8c27"
            ]
        ]
    },
    {
        "id": "8b1f70d2.1a2b7",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TCP_Connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1458.0652198791504,
        "y": 334.9152021408081,
        "wires": [
            [
                "be677ba8.512058"
            ]
        ]
    },
    {
        "id": "4ed592be.1b084c",
        "type": "change",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SERIAL_Connection",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1467.9221725463867,
        "y": 464.4865942001343,
        "wires": [
            [
                "64615172.21c97"
            ]
        ]
    },
    {
        "id": "24b51fc3.da899",
        "type": "link in",
        "z": "e87fe26.7d6fd2",
        "name": "set_tcp",
        "links": [
            "be677ba8.512058",
            "e63cf473.ceda98"
        ],
        "x": 220.46198081970215,
        "y": 84.89933586120605,
        "wires": [
            [
                "a4af0312.4f317",
                "2d6a8fc7.ba9d7",
                "3dcd4f8c.11bdb",
                "68be42d.51cc8bc"
            ]
        ]
    },
    {
        "id": "be677ba8.512058",
        "type": "link out",
        "z": "e87fe26.7d6fd2",
        "name": "set_tcp",
        "links": [
            "24b51fc3.da899"
        ],
        "x": 1620.60462474823,
        "y": 335.47075176239014,
        "wires": []
    },
    {
        "id": "62c551f0.cc2c6",
        "type": "link in",
        "z": "e87fe26.7d6fd2",
        "name": "set_serial",
        "links": [
            "64615172.21c97",
            "67818c5.d186b74"
        ],
        "x": 992.4618768692017,
        "y": 66.89929580688477,
        "wires": [
            [
                "5ab87637.10ce88",
                "13ee38c2.9f0007",
                "b6cb98c7.6a4498",
                "99d367cf.3816f8",
                "74efd93e.19dfc8"
            ]
        ]
    },
    {
        "id": "64615172.21c97",
        "type": "link out",
        "z": "e87fe26.7d6fd2",
        "name": "set_serial",
        "links": [
            "62c551f0.cc2c6"
        ],
        "x": 1630.175989151001,
        "y": 464.0420923233032,
        "wires": []
    },
    {
        "id": "7cfa36f5.3f7038",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "init",
        "topic": "",
        "payload": "{\"options\":[]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 728.9999771118164,
        "y": 505.57143783569336,
        "wires": [
            [
                "453078bc.10f658",
                "aa47c4cb.92d408",
                "a8fc20b3.3f731"
            ]
        ]
    },
    {
        "id": "453078bc.10f658",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "init confs",
        "func": "flow.set(\"configs_TCP\", null);\nflow.set(\"configs_SERIAL\", null);",
        "outputs": "0",
        "noerr": 0,
        "x": 886.7143058776855,
        "y": 506.00001430511475,
        "wires": []
    },
    {
        "id": "b72c551e.14e2e8",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "check",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "init",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1277.8570747375488,
        "y": 335.14288997650146,
        "wires": [
            [
                "8b1f70d2.1a2b7"
            ]
        ]
    },
    {
        "id": "2b40ebb3.8e3d74",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "check",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "init",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1277.0000076293945,
        "y": 464.42857837677,
        "wires": [
            [
                "4ed592be.1b084c"
            ]
        ]
    },
    {
        "id": "5dc93183.edb8f",
        "type": "catch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "scope": [
            "9b7e0489.8a7038",
            "5caaa683.ffb228"
        ],
        "x": 160.00000762939453,
        "y": 496.42858505249023,
        "wires": [
            [
                "822f21e9.cb51f"
            ]
        ]
    },
    {
        "id": "822f21e9.cb51f",
        "type": "ui_toast",
        "z": "e87fe26.7d6fd2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Error",
        "name": "error",
        "x": 320,
        "y": 496.4285774230957,
        "wires": []
    },
    {
        "id": "e63cf473.ceda98",
        "type": "link out",
        "z": "e87fe26.7d6fd2",
        "name": "init_tcp",
        "links": [
            "24b51fc3.da899"
        ],
        "x": 431.42858600616455,
        "y": 330.2857265472412,
        "wires": []
    },
    {
        "id": "67818c5.d186b74",
        "type": "link out",
        "z": "e87fe26.7d6fd2",
        "name": "init_serial",
        "links": [
            "62c551f0.cc2c6"
        ],
        "x": 426.42856788635254,
        "y": 453.1428499221802,
        "wires": []
    },
    {
        "id": "e22e4e04.f376d",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Address",
        "group": "f6b8473c.ffb378",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 438.2857360839844,
        "y": 955.4285888671875,
        "wires": [
            [
                "6bbdc89a.2c1ec8"
            ]
        ]
    },
    {
        "id": "e1b8f40b.fbe8b8",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Address",
        "group": "fb583bf0.d23148",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 1124.2857666015625,
        "y": 977.7142944335938,
        "wires": [
            [
                "54bde889.f6e4e8"
            ]
        ]
    },
    {
        "id": "1e5ed83c.7268a8",
        "type": "ui_text_input",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Length",
        "group": "f6b8473c.ffb378",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 427.1428527832031,
        "y": 1001.1428833007812,
        "wires": [
            [
                "7aacc1b8.11dde"
            ]
        ]
    },
    {
        "id": "8fb60ae1.10fc38",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "init",
        "payload": "{\"payload\":null}",
        "payloadType": "json",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 838.5714492797852,
        "y": 307.1428499221802,
        "wires": [
            [
                "aa47c4cb.92d408",
                "a8fc20b3.3f731"
            ]
        ]
    },
    {
        "id": "da48a297.66289",
        "type": "toFloat",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "toFixed": "4",
        "x": 1287.6429443359375,
        "y": 761.8571166992188,
        "wires": [
            [
                "b56405ef.a700b8",
                "3c577e96.31f6b2"
            ]
        ]
    },
    {
        "id": "666720fa.4d1c",
        "type": "ui_text",
        "z": "e87fe26.7d6fd2",
        "group": "3661e5eb.d74eda",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Received Data: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 449.00000762939453,
        "y": 768.0000534057617,
        "wires": []
    },
    {
        "id": "3c577e96.31f6b2",
        "type": "ui_text",
        "z": "e87fe26.7d6fd2",
        "group": "3661e5eb.d74eda",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Converted Data: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1401,
        "y": 629,
        "wires": []
    },
    {
        "id": "21a6376b.ef8af8",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "16To32Bit_Inverse",
        "func": "var values32bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(2);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(2) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    var value = parseInt(tmp+tmp1,2);\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values32bit.push(value);\n}\n\nmsg.payload = values32bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860.7695465087891,
        "y": 758.0039596557617,
        "wires": [
            [
                "40f56e7b.8e1a7"
            ]
        ]
    },
    {
        "id": "934b56d4.1890d8",
        "type": "ui_switch",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "label": "Invert",
        "group": "f6b8473c.ffb378",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 415.01953887939453,
        "y": 1226.003960609436,
        "wires": [
            [
                "dc62ff3.7e4dd"
            ]
        ]
    },
    {
        "id": "1d8a6f18.09cbe1",
        "type": "switch",
        "z": "e87fe26.7d6fd2",
        "name": "Inv",
        "property": "inverse",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 671.0195350646973,
        "y": 738.0040216445923,
        "wires": [
            [
                "d661bfb0.fc44a"
            ],
            [
                "21a6376b.ef8af8"
            ]
        ]
    },
    {
        "id": "dc62ff3.7e4dd",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "save",
        "func": "flow.set(\"inverse\", msg.payload);",
        "outputs": "0",
        "noerr": 0,
        "x": 585.0195960998535,
        "y": 1226.0039138793945,
        "wires": []
    },
    {
        "id": "68691ccb.c35384",
        "type": "comment",
        "z": "e87fe26.7d6fd2",
        "name": "Ben ekledim",
        "info": "Inversi ben ekledim",
        "x": 741.8866996765137,
        "y": 1225.0468683242798,
        "wires": []
    },
    {
        "id": "4a40ee57.6dea3",
        "type": "inject",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "topic": "",
        "payload": "inverse",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 206.01953125,
        "y": 1226.0039463043213,
        "wires": [
            [
                "934b56d4.1890d8"
            ]
        ]
    },
    {
        "id": "cff2318d.4c3d7",
        "type": "function",
        "z": "e87fe26.7d6fd2",
        "name": "64Bit_Int",
        "func": "// 13.04.2019 Ben ekledim, kodu asagidan aldim\n// 16to32bit ornegine bakarak 4 registeri birlestirdim 64 Bit integer yaptim\n\nvar values64bit = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    var tmp = msg.payload[i].toString(4);\n    tmp = tmp.length < 16 ? '0'.repeat(16-tmp.length) + tmp : tmp;\n    i++;\n    var tmp1 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp1 = tmp1.length < 16 ? '0'.repeat(16-tmp1.length) + tmp1 : tmp1;\n    i++;\n    var tmp2 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp2 = tmp2.length < 16 ? '0'.repeat(16-tmp2.length) + tmp2 : tmp2;\n    i++;\n    var tmp3 = i < msg.payload.length ? msg.payload[i].toString(4) : '0000000000000000';\n    tmp3 = tmp3.length < 16 ? '0'.repeat(16-tmp3.length) + tmp3 : tmp3;\n    \n    var value = parseInt(tmp+tmp1+tmp2+tmp3,4); // 64 Bit int olarak birlestiriyor\n\n    if(flow.get('hex')) value = '0x'+value.toString(16).toUpperCase();\n        \n    values64bit.push(value);\n}\n\nmsg.payload = values64bit;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 653.8867263793945,
        "y": 796.6328649520874,
        "wires": [
            [
                "a23f5e61.c7ec2"
            ]
        ]
    },
    {
        "id": "a23f5e61.c7ec2",
        "type": "debug",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1029.6445770263672,
        "y": 797.9023342132568,
        "wires": []
    },
    {
        "id": "5f93b439.18191c",
        "type": "debug",
        "z": "e87fe26.7d6fd2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1279.6328125,
        "y": 826.8984375,
        "wires": []
    }
]
